body{
  background-image: linear-gradient(to right, #0072ff, #00c6ff);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#content-wrap{
  margin: auto;
  width: 25vw;
  height: 60vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#calculator{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(8, 8, 8);
}

#screen{
  width: 90%;
  height: 20%;
  margin: 0 auto;
  background-color: aliceblue;
  border:1px solid blue;
  border-radius: 15px;
  display: grid;
  align-items: center; /* Vertically centers the child */
  justify-content: end;
  font-family: 'Seven Segment', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  margin-right: 0.3em;
  height: 1em;
  text-align: right;
}

#numbers, #operators{
  margin: 0 auto;
  text-align: center;
}

#operators{
  display: flex;
  width: 90%;
  height: 10%;
  background-color: blue;
  border-radius: 5px;
  border: 2px solid rgb(6, 0, 167);
}

#numbers{
  width: 90%;
  height: 40%;
  padding-bottom: 3px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.operator-btn{
  width: 19%;
  height: 100%;
  flex: 1;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 2px solid rgb(6, 0, 167);
  background-color: transparent;
  color: white;
}

.operator-btn:last-of-type{
  border-right: 0;
}

.number-btn{
  background-color: rgb(119, 117, 117);
  border: 0;
  border-radius: 8px;
}

@media (max-width: 900px) {
  #content-wrap{
    width: 225px;
  }
}